@CHARSET "ISO-8859-1";

/* @import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:700,400,300'); */

body {

}
p {
	color: #444;
	line-height: 20px;
}
a {
	cursor: pointer;
	text-decoration: none !important;
}
.pagination > .active a {
	color: #fff !important;
	background-color: #c41b15 !important;
	border-color: #c41b15 !important;
}
.pagination > li a {
	color: #c41b15 !important;
}
.text-justify{
	text-align: justify;
}
.read-more {
	color: #666;
	border-bottom: thin #666 solid;
	padding-bottom: 8px;
}
.price {
	color: #00a8ff;
	font-weight: bold;
	font-size: 15px;
}
.read-more:hover {
	color: #ff6651;
	border-bottom: thin #ff6651 solid;
}
.content {
	word-wrap: break-word;
}
.content img {
	width: 100%;
}
.limit-content-1-line {
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: block-axis;
	-webkit-line-clamp: 1;
}
.limit-content-2-line {
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: block-axis;
	-webkit-line-clamp: 2;
}
.limit-content-3-line {
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: block-axis;
	-webkit-line-clamp: 3;
}
.limit-content-4-line {
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: block-axis;
	-webkit-line-clamp: 4;
}
.limit-content-5-line {
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: block-axis;
	-webkit-line-clamp: 5;
}
.help-block {
	margin-bottom: 5px;
}
select {
	cursor: pointer;
}
.text-upper{
	text-transform: uppercase;
}
.transition {
	-webkit-transition: .6s;
	-moz-transition: .6s;
	-o-transition: .6s;
	transition: .6s;
}
input[type="email"],input[type="number"],input[type="password"],input[type="tel"],input[type="text"],input[type="url"],select,textarea {
	background: none repeat scroll 0 0 #FFFFFF;
	border-radius: 0px !important;
	box-shadow: none !important;
}

input.error, select.error, textarea.error, span.error {
	border: 1px solid #DF1F26 !important;
}
.text-bold {
	font-weight: bold;
}
.input-icon {
	position: relative;
}
.text-color-gray {
	color: #444;
}
.input-icon > i {
	color: #ccc;
	display: block;
	position: absolute;
	margin: 10px 4px 4px 10px;
	z-index: 3;
	width: 14px;
	font-size: 14px;
	text-align: center;
}
.page-title {
	font-size: 28px;
}
.input-icon > .form-control {
	padding-left: 32px;
}
.fa-file-word-o {
	color: #2B5797;
}
.fa-file-excel-o {
	color: #02723B;
}
.fa-file-pdf-o {
	color: #BB0706;
}
.fa-file-archive-o {
	color: #F5D230;
}
.btn {
	border-radius: 0px !important;
}
.full-width {
	width: 100%;
}
.text-color-grey {
	color: #999;
}
.text-color-red {
	color: orangered;
}
.pointer {
	cursor: pointer;
}
.separator {
	height: 1px;
	width: 300px;
	margin: 20px 0px;
	background: #ecf0f1;
	position: relative;
}
.separator:after {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 2px;
	width: 60px;
	background: #00a8ff;
	content: "";
}
.breadcrumbs .breadcrumb {
	padding: 10px 0;
	background: none;
}
.breadcrumbs .breadcrumb a:hover {
	color: #ff6651;
}
.active-category-list {
	margin-bottom: 20px !important;
}
.active-category-list a{
	color: #444;
}
.active-category {
	border-bottom: 3px #00a8ff solid;
}
/* header */
.header {
	height: 130px;
	border-top: 3px #00a8ff solid;
}
.header .header-logo img{    width: 165px;    height: 88px;    object-fit: contain;    margin-top: 20px;
}
.header .header-title {
	color: #009688;
	text-align: center;
	font-size: 17px;
	margin-top: 15px;
	text-transform: uppercase;
	font-weight: 700;
}
.header .input-group {
	margin-top: 30px;
}
.header .header-date-time {
	font-size: 16px;
	font-weight: bold;
	margin-top: 10px;
}
.header-mobile {
	position: fixed;
	top: 0;
	left: 0;
	background: #00a8ff;
	color: #fff;
	z-index: 2;
	width: 100%;
	padding: 5px 0;
	border-bottom: thin #fff solid;
}
.header-mobile .mobile {
	display: table;
	width: 100%;
}
.header-mobile .mobile .logo-mobile {
	display: table-cell;
	width: 15%;
}
.header-mobile .mobile .logo-mobile img {
	width: 65px;
}
.header-mobile .mobile .name-mobile {
	display: table-cell;
	vertical-align: middle;
	width: 75%;
}
.header-mobile .mobile .name-mobile h2 {
	font-size: 16px;
	text-align: center;
}
.header-mobile .mobile .icon-mobile {
	display: table-cell;
	width: 10%;
	vertical-align: middle;
	font-size: 20px;
	text-align: right;
}
.header .wrap-search {
	display: table;
	margin-top: 30px;
	width: 100%;
}
.header .wrap-search .info-search {
	display: table-cell;
	font-size: 18px;
	color: #666;
	text-shadow: 1px 1px 1px #888;
}
.header .wrap-search a {
	display: table-cell;
	padding: 2px 22px;
	border-radius: 3px !important;
}
/* end header */
.menu {
	background: #00a8ff;
	color: #fff;
}
.menu .menu-items {
	width: 100%;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	display: table;
	position: relative;
}
.menu .menu-items > li{
	display: table-cell;
	position: relative;
	margin: 0;
	padding: 0;
	border-right: thin #fff solid;
}
.menu .menu-items > li:last-child {
	border-right: none;
}
.menu .menu-items > .active {
	background: #0d6a9a;
}
.menu .menu-items > li:hover {
	background: #0d6a9a;
}
.menu .menu-items > li > a {
	border-radius: 0px 0px 0px 0px;
	color: #FFFFFF;
	display: block;
	font-size: 13px;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
}
.menu .menu-items > li:hover > a{
	background: none ;
}

.menu .menu-items > .dropdown .dropdown-menu {
	border: none;
}
.menu .menu-items > .dropdown:hover .dropdown-menu {
	display: block;
	margin-top: 0;
	border-radius: 0;
}
.wrapper-menu-mobile {
	position: fixed;
	z-index: 2;
	background: #444;
	width: 100%;
	top: 80px;
	left: 0;
	overflow-y: auto;
	max-height: 450px;
}
.wrapper-menu-mobile .menu-mobile {

}
.wrapper-menu-mobile .menu-mobile .list-menu-mobile {
	padding: 0;
	margin: 0;
}
.wrapper-menu-mobile .menu-mobile .list-menu-mobile .active-mobile {
	background: #00a8ff;
}
.wrapper-menu-mobile .menu-mobile .list-menu-mobile > li {
	position: relative;
	list-style: none;
	border-bottom: thin #666 solid;
	width: 100%;
}
.wrapper-menu-mobile .menu-mobile .list-menu-mobile > li > a {
	color: #fff;
	width: 100%;
	display: inline-block;
	padding: 8px 15px;
	text-transform: uppercase;
}
.wrapper-menu-mobile .menu-mobile .list-menu-mobile > li .icon-sub-menu-mobile {
	position: absolute;
	right: 8px;
	color: #fff;
	top: 0;
	padding: 10px;
}
.wrapper-menu-mobile .menu-mobile .list-menu-mobile > li .list-sub-menu-mobile {
	padding-left: 0;
	background: #525252;
}
.wrapper-menu-mobile .menu-mobile .list-menu-mobile > li .list-sub-menu-mobile > li {
	list-style: none;
	border-bottom: thin #666 solid;
}
.wrapper-menu-mobile .menu-mobile .list-menu-mobile > li .list-sub-menu-mobile > li > a{
	margin-left: 30px;
	color: #fff;
	display: inline-block;
	padding: 8px 15px;
	width: 100%
}
.wrapper-menu-mobile .menu-mobile .list-menu-mobile > li:last-child,
.wrapper-menu-mobile .menu-mobile .list-menu-mobile > li .list-sub-menu-mobile > li:last-child {
	border-bottom: none;
}
.wrapper-menu-mobile li:hover {
	background: #5d5d5d;
}
/* end menu  */
.slider .owl-carousel .item img {
	height: 320px;
	object-fit: cover;
}
.slider .owl-carousel .slide-item {
	height: 505px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.slider .owl-carousel .slide-item .slide-title {
	text-align: center;
	font-size: 80px;
	color: rgba(255, 255, 255, 0.51);
	margin-top: 90px;
	font-family: 'Dancing Script', cursive;
	/* text-shadow: 1px 1px 1px black; */
	-webkit-animation: scroll 1.5s infinite linear;
	animation: scroll 1.5s infinite linear;
}
.wrap-content-slider {
	position: relative;
	width: 570px;
	padding: 15px 15px 30px 15px;
	background: rgba(255, 255, 255, 0.5);
	margin-top: 190px;
}
.wrap-content-slider .title {
	font-size: 28px;
	text-transform: uppercase;
	color: #333;
}
.wrap-content-slider a {
	background: #00a8ff;
	color: #fff;
	position: absolute;
	bottom: -20px;
}
/*.wrap-content-slider a:hover {
	background: #b21f1a;
	color: #fff;
}*/
@-webkit-keyframes scroll {
	0%{text-shadow: 1px 1px 1px black;}
	50% {text-shadow: 1px 1px 1px red;}
	100% {text-shadow: 1px 1px 1px black;}
	50% {text-shadow: 1px 1px 1px red;}
}

@keyframes scroll {
	0%{text-shadow: 1px 1px 1px black;}
	50% {text-shadow: 1px 1px 1px red;}
	100% {text-shadow: 1px 1px 1px black;}
	50% {text-shadow: 1px 1px 1px red;}
}
.slider .owl-carousel .slide-item .slide-title:hover {
	text-shadow: 1px 1px 1px red;
}
/* end slider  */
.cluster {
	padding: 30px 0;
}
.cluster .title h3 {
	position: relative;
	font-size: 32px;
	margin-bottom: 30px;
	color: #00a8ff;
	overflow: hidden;
}
.cluster .title h3::after {
	background: url(../images/stripe.png);
	width: 100%;
	height: 5px;
	position: absolute;
	top: 15px;
	content: '';
	margin-left: 10px;
}
.cluster-product {
	background-image: url(../images/bg-content.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.cluster-product .item {
	height: 312px;
	border: thin #e4e4e4 solid;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	margin-bottom: 20px;
	background: #fbfbfb;
	padding: 5px;
}
.product-image {
	margin: auto;
	width: 350px;
	border: #d9d9d9 thin solid;
	padding: 5px;
	border-radius: 5px;
}
.cluster-product .item:hover {
	box-shadow: 0 20px 72px -20px rgba(0, 0, 0, 0.2);
}
.cluster-product .item:hover h4 {
	color: #ff6651;
}
.cluster-product .item:hover img {
	opacity: 0.8;
}
.cluster-product .item img {
	width: 100%;
	height: 160px;
	object-fit: cover;
}
.cluster-product .item h4{
	color: #444;
}
.product-index-page .product-item {
	margin-bottom: 30px;
	position: relative;
}
.product-index-page .product-item img {
	width: 100%;
	height: 300px;
	object-fit: cover;
}
.product-index-page .product-item:hover img {
	
}
.product-index-page .product-item .caption {
	position: absolute;
	z-index: 1;
	bottom: 35px;
	background: rgba(255,255,255,0.85);
	padding: 25px 35px;
	width: 365px;
}
.product-index-page .product-item .caption h5 {
	font-size: 30px;
	color: #00a8ff;
	border-bottom: solid 3px #61a647;
	padding-bottom: 15px;
	margin-bottom: 15px;
}
.product-index-page .product-item .caption a:hover h5 {
	border-bottom: solid 3px #00a8ff;
	color: #61a647;
}

.product-index-page .product-item .caption p {
	
}

/* end news-hmf  */
.cluster-news {
	margin-bottom: 50px;
}
.cluster-news .new-item {
	border-bottom: 4px #00a8ff solid;
}
.border-images-new {
	overflow: hidden;
}
.cluster-news .new-item img {
	width: 100%;
	height: 190px;
	object-fit: cover;
	-ms-transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
	transform: scale(1, 1);
}
.cluster-news .new-item a {
	text-decoration: none;
}
.cluster-news .new-item h5 {
	color: #555;
	line-height: 22px;
	font-size: 16px;
}
.cluster-news .new-item a:hover h5 {
	color: #ff6651;
}
.cluster-news .new-item a:hover img {
	-ms-transform: scale(1.1, 1.1);
	-webkit-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
}
.cluster-product-bold {
	background-image: url(../images/bg-new-dif.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.cluster-product-bold .item {
	background: rgba(255, 255, 255, 0.35);
	padding: 15px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border: thin #fff solid;
	height: 392px;
}
.cluster-product-bold .item:hover {
	box-shadow: 0 20px 72px -20px rgba(0, 0, 0, 0.2)
}
.cluster-product-bold .item:hover h4 {
	color: #ff6651;
}
.cluster-product-bold .item:hover img {
	opacity: 0.8;
}
.cluster-product-bold .item img {
	width: 100%;
	height: 160px;
	object-fit: cover;
}
.cluster-product-bold .item h4{
	color: #333;
}
/* end news  */
/* child page */
.list-warpper {
	border-top: 2px #00a8ff solid;
	margin-bottom: 50px;
}
.list-warpper .item {
	border-bottom: thin #d9d9d9 solid;
	padding: 10px 0;
	display: table;
	width: 100%;
}
.list-warpper .item:last-child {
	border-bottom: none;
}
.list-warpper .item .left-item {
	display: table-cell;
	width: 210px;
	vertical-align: top;
}
.list-warpper .item .left-item img {
	width: 200px;
	height: 120px;
	object-fit: cover;
}
.list-warpper .item .left-item img:hover {
	opacity: .7;
}
.list-warpper .item .right-item {
	display: table-cell;
	vertical-align: top;
}
.list-warpper .item .right-item h5 {
	margin-top: -2px;
	font-size: 18px;
	color: #444;
	margin-bottom: 5px;
}
.list-warpper .item .right-item h5:hover {
	color: #ff6651;
}
.list-warpper .item .left-document {
	display: table-cell;
	vertical-align: top;
	width: 75px;
	text-align: center;
	padding: 10px;
}
.list-warpper .item .left-document i{
	font-size: 40px;
}
.list-warpper .item .middle-document {
	display: table-cell;
	vertical-align: top;
}
.list-warpper .item .middle-document h5 {
	font-size: 18px;
}
.list-warpper .item .right-document {
	display: table-cell;
	vertical-align: top;
	width: 140px;
	text-align: center;
	padding-top: 10px;
}
.list-warpper .item .left-faq {
	display: table-cell;
	width: 100px;
	vertical-align: top;
}
.list-warpper .item .left-faq img {
	width: 85px;
}
.list-warpper .item .right-faq {
	display: table-cell;
	vertical-align: top;
}
.list-warpper .item .right-faq a {
	font-size: 17px;
	color: #444;
}
.list-warpper .item .right-faq a:hover {
	color: #ff6651;
}
.wrapper-slider {
	margin: 10px 0;
}
.wrapper-slider .slider-list {
	position: relative;
}
.wrapper-slider .slider-list img {
	height: 349px;
	object-fit: cover;
}
.wrapper-slider .slider-list .slider-content {
	position: absolute;
	bottom: 0;
	left: 0;
	padding-left: 10px;
	background: rgba(0, 0, 0, 0.38);
	width: 100%;
}
.wrapper-slider .slider-list .slider-content {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0 10px;
	background: rgba(0, 0, 0, 0.38);
	width: 100%;
	color: #fff;
}
.wrapper-slider .slider-list .slider-content p {
	color: #fff;
}
.slider-child-list {
	position: relative;
	border-left: thin #d9d9d9 solid;
	padding-left: 28px;
}
.slider-child-list .child-item {
	display: table;
	height: 100px;
	margin-top: 5px;
}
.slider-child-list .child-item:hover h5 {
	color: #ff6651 !important;
}
.slider-child-list .child-item:hover img {
	opacity: .7;
}
.slider-child-list .child-item .time-child-item {
	font-size: 12px;
	color: #8d8d8d;
	margin-bottom: -5px;
}
.slider-child-list .child-item .slider-icon {
	width: 20px;
	height: 20px;
	border: 4px #d9d9d9 solid;
	position: absolute;
	left: -10px;
	border-radius: 50%;
	background: #9d9d9d;
}
.slider-child-list .child-item .slider-icon:hover {
	cursor: pointer;
	background: #ea391e;
	border: 4px #f2afa7 solid;
}
.slider-child-list .child-item .left-slider-child {
	display: table-cell;
	width: 125px;
	vertical-align: top;
}
.slider-child-list .child-item .left-slider-child img {
	width: 115px;
	height: 82px;
	object-fit: cover;
}
.slider-child-list .child-item .right-slider-child {
	display: table-cell;
}
.slider-child-list .child-item .right-slider-child h5 {
	margin-top: 0;
	color: #444;
	font-weight: bold;
}

.wrapper-box {
	margin-bottom: 20px;
}
.wrapper-box .list-box {
	border-top: 5px #00a8ff solid;
	border-bottom: thin #e9e9e9 solid;
	border-right: thin #e9e9e9 solid;
	border-left: thin #e9e9e9 solid;
	padding: 10px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.wrapper-box .list-box .box-title {
	text-align: center;
	color: #ff6651;
	border-bottom: thin #d9d9d9 solid;
}
.wrapper-box .list-box .box-title h2{
	font-size: 20px;
	margin-top: 0;
}
.wrapper-box .list-box ul {
	padding-left: 0;
}
.wrapper-box .list-box .box-item {
	width: 100%;
	list-style: none;
	display: table;
	border-bottom: thin #d9d9d9 dashed;
	padding-top: 5px;
}
.wrapper-box .list-box .box-item:last-child {
	border-bottom: thin #d9d9d9 solid;
}
.wrapper-box .list-box .box-item .left-box-item {
	display: table-cell;
	font-size: 40px;
	color: #888;
	padding: 5px 22px;
}
.wrapper-box .list-box .box-item .right-box-item {
	display: table-cell;
	vertical-align: top;
}
.wrapper-box .list-box .box-item h5 {
	color: #333;
	font-weight: 500;
	font-size: 14px;
	margin-top: 3px;
	margin-bottom: 0;
	line-height: 16px;
}
.wrapper-box .list-box .box-item:hover h5 {
	color: #ff6651;
}
.wrapper-box .list-box .box-item:hover .left-box-item {
	color: #ff6651;
}
.wrapper-box .list-box .box-cate {
	list-style: none;
	border-bottom: thin #d9d9d9 dashed;
	padding: 10px 22px;
}
.wrapper-box .list-box .box-cate:last-child {
	border-bottom: thin #d9d9d9 solid;
}
.wrapper-box .list-box .box-cate a {
	color: #444;
}
.wrapper-box .list-box .box-cate a:hover {
	color: #ff6651;
}
.contact {
	margin-bottom: 40px;
}
.contact .page-title {
	font-size: 28px;
	color: #444;
}
.contact .contact-list {
	margin: 20px 0;
}
.contact .contact-list .contact-item {
	display: table;
	margin: 35px 0;
	width: 100%;
}
.contact .contact-list .contact-item .contact-item-lt {
	display: table-cell;
	width: 85px;
}
.contact .contact-list .contact-item .contact-item-lt .bg-icon-contact {
	width: 65px;
	height: 65px;
	text-align: center;
	background: #f4f4f4;
	border-radius: 50%;
	display: table;
}
.contact .contact-list .contact-item .contact-item-lt .bg-icon-contact i {
	display: table-cell;
	vertical-align: middle;
	font-size: 18px;
}
.contact .contact-list .contact-item .contact-item-rt {
	display: table-cell;
	vertical-align: middle;
}
/* end child page */
/* end content  */
.footer {
	background: #F3F3F3;
}
.footer .cluster-footer {
	padding: 30px 0;
}
.footer .cluster-footer .title {
	font-size: 18px;
	color: #00a8ff;
	margin-bottom: 20px;
}
.footer .cluster-footer .link-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.footer .cluster-footer .link-list li{
	margin: 8px 0;
}
.footer .cluster-footer .link-list li a {
	color: #444;
}
.footer .cluster-footer .link-list li a:hover {
	color: #ff6651;
}
.footer .info-company {
	border-top: thin #e9e9e9 solid;
}
.footer .info-company .title{
	font-size: 16px;
	font-weight: bold;
	color: #555;
}
.border-big-mobilephone{
	position: fixed;
	bottom: 14px;
	left: 10px;
	border-radius: 50%;
	height: 60px;
	width: 60px;
	z-index: 3;
	-webkit-animation: scale-phone 1.5s infinite;
	-moz-animation: scale-phone 1.5s infinite;
	animation: scale-phone 1.5s infinite;
}
.border-small-mobilephone{
	position: fixed;
	bottom: 23px;
	left: 20px;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	z-index: 3;
	-webkit-animation: scale-phone 1.5s infinite;
	-moz-animation: scale-phone 1.5s infinite;
	animation: scale-phone 1.5s infinite;
}
@-webkit-keyframes scale-phone {
	from {
		transform:scale(1,1);
		border: 5px rgba(8, 179, 255, 0.81) solid;
		}
	to {
		transform:scale(2,2);
		border: 5px rgba(41, 128, 185, 0) solid;
		}
}
@-moz-keyframes scale-phone {
	from {
		transform:scale(1,1);
		border: 5px rgba(8, 179, 255, 0.81) solid;
		}
	to {
		transform:scale(2,2);
		border: 5px rgba(41, 128, 185, 0) solid;
		}
}
@keyframes scale-phone {
	from {
		transform:scale(1,1);
		border: 5px rgba(8, 179, 255, 0.81) solid;
		}
	to {
		transform:scale(2,2);
		border: 5px rgba(41, 128, 185, 0) solid;
		}
}
.wrap-mobilephone{
	position: fixed;
	bottom: 20px;
	left: 17px;
	color: #fff;
	z-index: 3;
	font-size: 30px;
	padding: 2px 11px;
	background: rgba(8, 179, 255, 0.81);
	border-radius: 50%;
	-webkit-animation: rotate-phone 0.4s infinite;
	-moz-animation: rotate-phone 0.4s infinite;
	animation: rotate-phone 0.4s infinite;
}
@-webkit-keyframes rotate-phone {
	0% { -webkit-transform:rotate(0deg); }
	50% { -webkit-transform:rotate(20deg); }
	100% { -webkit-transform:rotate(0deg); }
}
@-moz-keyframes rotate-phone {
	0% { -moz-transform:rotate(0deg); }
	50% { -moz-transform:rotate(20deg); }
	100% { -moz-transform:rotate(0deg); }
}
@keyframes rotate-phone {
	0% { transform:rotate(0deg); }
	50% { transform:rotate(20deg); }
	100% { transform:rotate(0deg); }
}
.copy-right {
	background: #e4e4e4;
}
/*facebook*/
#cfacebook{
	position:fixed;
	bottom:-1px;
	right:0;
	z-index:1;
	width:260px;
	height:auto;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	overflow:hidden;
}
#cfacebook .fchat{
	float:left;
	width:100%;
	height:270px;
	overflow:hidden;
	display:none;
	background-color:#fff;
}
#cfacebook .fchat .fb-page{
	margin-top:-5px;
	float:left;
}
#cfacebook a.chat_fb{
	float:left;
	padding:0 25px;
	width:260px;
	color:#fff;
	text-decoration:none;
	height:40px;
	line-height:40px;
	text-shadow:0 1px 0 rgba(0,0,0,0.1);
	background-repeat:repeat-x;
	background-size:auto;
	background-position:0 0;
	background-color:#3a5795;
	border:0;
	border-bottom:1px solid #133783;
	z-index:9999999;
	margin-right:12px;
	font-size:18px;
}
#cfacebook a.chat_fb:hover{
	color:yellow;
	text-decoration:none;
}
.fchat span{
	width:260px!important;
}
.socical-list {

}
.socical-list .socical-item {
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 20px;
}
.socical-list .socical-item i{
	width: 40px;
	height: 40px;
	font-size: 25px;
}
.socical-list .socical-item .fa-facebook{
	border: thin #4267B2 solid;
	padding: 7px 0 0px 11px;
	color: #4267B2;
}
.socical-list .socical-item .fa-youtube{
	border: thin #FF0000 solid;
	padding: 7px 0 0px 8px;
	color: #FF0000;
}
.socical-list .socical-item .fa-google{
	border: thin #F4511E solid;
	padding: 7px 0 0px 10px;
	color: #F4511E;
}
.socical-list .socical-item .fa-twitter{
	border: thin #1DA1F2 solid;
	padding: 7px 0 0px 8px;
	color: #1DA1F2;
}
.related-item {
	padding: 10px 0;
}
.related-item h5 {
	font-size: 18px !important;
	line-height: 22px !important;
	color: #4d4d4d !important;
}
.related-item a:hover h5 {
	color: #ff6651 !important;
}
/* end footer  */
.wrap-box {
	margin-top: 20px;
}
.wrap-box .box-title {

}
.wrap-box .box-title .title {
	position: relative;
	font-size: 24px;
	color: #91BC24;
	overflow: hidden;
}
.wrap-box .box-title .title::after {
	position: absolute;
	content: '';
	background: url(../images/stripe.png);
	height: 10px;
	width: 100%;
	bottom: 9px;
	margin-left: 4px;
}
.wrap-box .box {
	border-bottom: 4px solid #00a8ff;
	box-shadow: 0 0 3px #CACACA;
	padding: 15px;
	margin-top: 10px;
}
.wrap-box .box .box-item {
	font-size: 18px;

	border-bottom: thin #d9d9d9 solid;
	background-color: white;
	padding: 10px 0;
}
.wrap-box .box .box-item:last-child {
	border-bottom: none;
}
.wrap-box .box .box-item a {
	color: #4158f0 ;
	line-height: 30px;
}
.wrap-box .box .box-item a:hover {
	color: #ff6651 ;
}
.wrap-relative-item {

}
.relative-item-title {
	background: #00a8ff;
	color: #fff;
	padding: 1px 10px;
}
.wrap-relative-item .box-relative-item {
	border-left: thin #d9d9d9 solid;
	border-right: thin #d9d9d9 solid;
	border-bottom: thin #d9d9d9 solid;
	padding: 1px 10px;
}
.wrap-relative-item .box-relative-item .product-relative-item {
	border: thin #d9d9d9 solid;
	padding: 5px;
	margin: 15px 0;
	height: 170px;
}
.wrap-relative-item .box-relative-item .product-relative-item a:hover img {
	opacity: .8;
}
.wrap-relative-item .box-relative-item .product-relative-item a:hover h6 {
	color: #ff6651;
}
.wrap-relative-item .box-relative-item .product-relative-item img {
	width: 100%;
	height: 110px;
	object-fit: cover;
}
.wrap-relative-item .box-relative-item .product-relative-item h6 {
	font-size: 15px;
	color: #00a8ff;
}
.wrap-relative-item .box-relative-item .relative-item {
	border-bottom: thin #d9d9d9 dotted;
	padding: 5px 0;
	text-transform: uppercase;
}
.partner {

}
.partner .item-partner {
	height: 185px;
    box-shadow: 0 0 10px #e8e8e8;
    margin-bottom: 30px;
    -webkit-transition: .6s;
	-moz-transition: .6s;
	-o-transition: .6s;
	transition: .6s;
}
.partner .item-partner:hover {
	box-shadow: 0 0 10px #b3b3b3;
}
.partner .item-partner img {
	width: 100%;
	object-fit: contain;
	height: 185px;
}
.partner .item-partner h5 {
	text-align: center;
	font-size: 17px;
	font-weight: 700;
	color: #00a8ff;
}